body{
    text-align: center;
}
#apps{
    width: 100%;
    height: 800px;
    background-color: fuchsia;
}
.line{
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
    
}
#games{
  width: 100%;
    height: 800px;
    background-color: lightcoral;
}
img{
 transition: transform .2s; 
}
img:hover{
    transform: scale(0.9);
}
#chatbot{
  width: 100%;
    height: 800px;
    background-color: aliceblue;   
}
h1{
    font-size: 40px;
    font-family: fantasy;
    font-weight: bold;
}
#art{
    width: 100%;
    height: 800px;
    background-color: cyan;
}
